body {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family:Italic;
    color: whitesmoke;
    height: 200px;
    background-color: rgb(21, 21, 128);
}

.tukan {
    margin-top:20px;
    margin-right:10px;
    height: 100px;
    width: 100px;
}

.jumbotron {
    margin-top:30px;
    background-image: url("./opened-book.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: "Sofia", sans-serif;
    color: white;
}

#dropdown{
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    
}